// .section-about{
//   background: #f8fafa;
// }
.section-text{
  &__title,
  &__desc{
    padding-left: 41px;
    padding-right: 41px;
  }
  &__title{
    @include font-rel

    font-weight: 700;
    color: #646565;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  &__desc{
    @include font-rel

    font-weight: 400;
    font-size: 16px;
    color: #7e7f7f;
    padding-bottom: 40px;
  }
}

.block-photo{
  display: inline-block;
  &__img{width: 100%;}
}
