// burger
.element-burger{
  display: inline-block;
  cursor: pointer;
  width: 30px;
  &__item{
    width: 100%;
    height: 4px;
    background: #606061;
    border-radius: 3px;
    margin-top: 5px;
  }
  &__item:first-child{margin-top: 0px;}
}
//  /burger

//  button default
.button-defailt{
  @include button-def

  background: transparent;
  border: 2px solid #777879;
}

.link-defailt{
  @include link-def

  img{margin-left: 20px;}
}
//  /button default

// title block
.title-block{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 150px;
  &__title{
    @include font-mont

    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #000;

  }
  &__subtitle{
    @include font-mer

    font-weight: 400;
    font-size: 18px;
    color: #848585
  }
}
// /title block


// grid
.grid{
  display: flex;
  flex-wrap: wrap;
  &__col-1{width: 8.333%;}
  &__col-4{width: 33.333%;}
  &__col-5{width: 41.666%;}
  &__col-6{width: 50%;}
  &__col-7{width: 58.333%;}
  &__col-8{width: 66.666%;}
  &__col-12{width: 100%;}
  &--text-center{
    text-align: center;
    justify-content: center;
  }
}
// /grid

// comment
.element-comment{
  position: relative;
  &__wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px 18px;
  }

  &__content{
    visibility: hidden;
    opacity: 0;
    width: 335px;
    background: #70f6eb;
    padding: 40px 35px;
    position: relative;
    transition: .5s;
    &:before{
      content: '';
      position: absolute;
      left: 21px;
      top: -30px;
      border: 10px solid transparent;
      border-bottom: 20px solid #70f6eb;
    }
    &--active{
      visibility: visible;
      opacity: 1;
      transition: .5s;
    }
  }
  &:hover{
    .element-comment__content{
      visibility: visible;
      opacity: 1;
      transition: .5s;
    }
  }
  &__title{
    margin-bottom: 23px;
  }
  &__text{
    @include font-rel

    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #225450;
    margin-bottom: 38px;
  }
  &__list{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      margin-right: 12px;
      a{
        display: inline-block;
      }
      &:last-child{margin-right: 0;}
    }
  }
}
// /comment


.title-active{
  @include font-mer

  font-style: italic;
  font-weight: 400;
  color: #767978;
  font-size: 15px;
  line-height: 15px;
  .active{
    @include font-mer

    font-weight: 900;
    font-style: normal;
    color: #2c3a39;
    font-size: 20px;
    line-height: 20px;
  }
}

// stars
.star-block{
  display: flex;
  &__item{
    margin-right: 7px;
    display: inline-flex;
  }
  &__item:last-child{margin-right: 0;}
  &--center{justify-content: center;}
}
// /stars
