// header
.section-header{
  background: url(../img/bg_header.png) 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
  }
  &__info{
    display: flex;
    justify-content: space-between;
  }

  &__content{
    display: flex;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  &__title{
    @include font-mont

    font-weight: 700;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 57px;
    color: #505050;
    padding-bottom: 140px;
    text-shadow: 5px 5px 8px rgba(0,0,0,.4), 0px 0px 0px #000;
    &--active{
      background: #b2f2ee;
      padding: 2px 13px;
    }
  }
}

.section-menu{
  &__wrapper{
    display: flex;
    align-items: center;
    height: 100%;
  }
}



// /header



// .section-header{
//   color: #ffffff;
//   background: url(https://i.pinimg.com/originals/83/7f/9f/837f9f1f2e4d15c7e6d0d6c109ab9a0a.jpg) 50% 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//
//   .section-inner{
//     height: 100vh;
//     position: relative;
//     z-index: 10;
//     display: flex;
//     flex-direction: column;
//     // flex-wrap: wrap;
//   }
//
//   &::before{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: rgba(0,0,0,.6);
//     z-index: 5;
//   }
//   &-logo{
//     flex-shrink: 1;
//   }
//   &-content{
//     // flex-grow: 1;
//     display: flex;
//     align-items: center;
//   }
//   &-wrapper{
//     &__title{}
//     &__subtitle{}
//     &__form{
//       &-input{}
//       &-button{}
//     }
//   }
//
// }
