.product{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  &__item{
    width: 30%;
    border: 1px solid #000;
  }
  &__title{
    text-align: center;
    font-size: 20px;
    &--red{
      color: $color-red;
    }
  }
  &__btn{
    button{
      @include btn($color-red, $white, 10px);
    }
  }
}
