.section-reviews{
  &__content{display: flex;}
  &__content--vertical-center{
    align-items: center;
  }
}
.reviews{
  background: #eaebed;
  padding: 100px 83px 70px;
  &__desc{
    @include font-rel

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7e7f7f;
    padding: 30px 0;
  }
  &__item--center{
    text-align: center;
    justify-content: center;
  }
}
