.services{
  display: flex;
  flex-wrap: wrap;
  &__item{
    padding: 54px 64px;
    margin-right: 15px;
    margin-bottom: 0;
    &:nth-child(2n){margin-right: 0;}
    &:nth-last-child(n+3){margin-bottom: 15px;}
    background-image: url(../img/servises/servises-1.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
    &:hover{
      transform: scale(1.02);
      transition: 1s;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,.65);
      z-index: 5;
    }
    &--large{
      width: 650px;
      height: 422px;
      .services__desc--width{
        width: 76%;
      }
    }
    &--small{
      width: 475px;
      height: 422px;
      .services__desc--width{
        width: 92%;
      }
    }
    .element--hidden{display: none;}
    &--active{
      .element--hidden{display: block;color: #1d4a47;}
      .element--show{display: none;}
      .services__content--active{align-items: flex-start;color: #1d4a47;}
      .services__wrapper--active{height: 100%;color: #1d4a47;}
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #71f5ea;
        z-index: 5;
      }
    }
  }
  &__content{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  &__wrapper{
    position: relative;
    height: 207px;
    color: #f8f8f8;
  }
  &__title{
    @include font-mer

    font-weight: 700;
    font-size: 20px;
    padding-bottom: 24px;
    text-transform: uppercase;
  }
  &__desc{
    @include font-rel

    font-weight: 400;
    font-size: 16px;
    padding-bottom: 53px;
  }

  &__button{
    position: absolute;
    bottom: 0;
  }
}



// .section-services{
//   background: #f9fbfb;
//   &__item{
//     padding: 54px 64px;
//     margin-right: 15px;
//     margin-bottom: 0;
//     &:nth-child(2n){margin-right: 0;}
//     &:nth-last-child(n+3){margin-bottom: 15px;}
//     background-image: url(../img/servises/servises-1.png);
//     position: relative;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     transition: 1s;
//     &:hover{
//       transform: scale(1.02);
//       transition: 1s;
//     }
//     &:before{
//       content: '';
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       background: rgba(0,0,0,.65);
//       z-index: 5;
//     }
//     &-content{
//       position: relative;
//       z-index: 10;
//       width: 100%;
//       height: 100%;
//       display: flex;
//       align-items: flex-end;
//     }
//     &-wrapper{
//       position: relative;
//       height: 207px;
//       color: #f8f8f8;
//       &__title{
//         @include font-mer
//
//         font-weight: 700;
//         font-size: 20px;
//         padding-bottom: 24px;
//         text-transform: uppercase;
//       }
//       &__desc{
//         @include font-rel
//
//         font-weight: 400;
//         font-size: 16px;
//         padding-bottom: 53px;
//       }
//
//       &__button{
//         position: absolute;
//         bottom: 0;
//       }
//     }
//     &.item--large{
//       width: 650px;
//       height: 422px;
//       .wrapper--width{
//         width: 76%;
//       }
//     }
//     &.item--small{
//       width: 475px;
//       height: 422px;
//       .wrapper--width{
//         width: 92%;
//       }
//     }
//
//
//     .element--hidden{display: none;}
//     &.item--active{
//       .element--hidden{display: block;color: #1d4a47;}
//       .element--show{display: none;color: #1d4a47;}
//       .content--active{align-items: flex-start;color: #1d4a47;}
//       .wrapper--active{height: 100%;color: #1d4a47;}
//     }
//     &.item--active:before{
//       content: '';
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       background: #71f5ea;
//       z-index: 5;
//     }
//   }
// }
