.gallery{
  display: flex;
  flex-wrap: wrap;
  &--with-50{width: 50%;}
  &--text-center{
    text-align: center;
    justify-content: center;
  }
  &__item{
    width: 370px;
    margin-right: 15px;
    position: relative;
    margin-bottom: 0;
    &:nth-child(3n){margin-right: 0;}
    &:nth-last-child(n+4){margin-bottom: 15px;}
    img{width: 100%;}
  }
}
