@import "vars";
@import "fonts";
@import "libs";
@import "./_mixins/_font-face";
@import "./_mixins/btn";


::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.section-outer{
	&--padding-tb-120{
		padding-top: 120px;
	  padding-bottom: 120px;
	}
	&--bg-dark1{
		background: #f8fafa;
	}
	&--bg-dark2{
		background: #f9fbfb;
	}
}

.section-inner{
	width: 1140px;
	margin: 0 auto;
}


.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}


@import "./_components/elements";
@import "./_components/header";
@import "./_components/about";
@import "./_components/works";
@import "./_components/services";
@import "./_components/reviews";
@import "./_components/producr";
@import "media"; // Always at the end
