@mixin btn($bg, $color, $radius) {
    background: $bg;
    color: $color;
    border: 1px solid $color;
    border-radius: $radius;
  }

  @mixin element-width($size) {
  	.width-#{$size} {
  		max-width: $size + px;
  	}
  }

  @for $size from 0 through 300 {
	@include element-width($size);
}



@mixin font-size($size1, $size2) {
	.fz-#{$size1}-#{$size2} {
		font-size: $size1 + px;
		line-height: $size2 + px;
	}
}

@for $size1 from 8 through 36 {
	@for $size2 from 11 through 48 {
		@include font-size($size1, $size2);
	}
}


// @mixin widthGrid($size) {
//   .with-grid-#{$size} {
//     width: $size + %;
//   }
// }
//
// @for $size from 0 through 300 {
// @include widthGrid($size);
// }

@mixin button-def{
  @include font-mont

  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  list-style: none;
  color: #777879;
  padding: 17px 45px;
  letter-spacing: 3px;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    outline: none;
    color: #777879;
  }
}

@mixin link-def{
  @include font-mer

  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  font-size: 19px;
  line-height: 19px;
  text-transform: uppercase;
  color: #f8f8f8;
  &:hover{
    text-decoration: none;
    outline: none;
    color: #f8f8f8;
  }
}
